logs/
build/
bin/
*.user
*.opendb
.vs/
.vscode/
*.log
obj/
*_log.txt
*.png
*.jpg
*.jpeg
*.bmp
*.tga
build/glad.vcxproj
build/ufbx.vcxproj
build/imgui.vcxproj
build/CMakeCache.txt
build/ALL_BUILD.vcxproj
build/ArchuraEngine.sln
build/ZERO_CHECK.vcxproj
build/ArchuraEngine.vcxproj
build/ArchuraEngine.vcxproj.filters
build/bin/Release/ArchuraEngine.exe
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/TargetDirectories.txt
build/bin/Release/Release/crash_log.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/ArchuraEngine.dir/Release/main.obj
build/ArchuraEngine.dir/Release/Mesh.obj
build/ArchuraEngine.dir/Release/Input.obj
build/ArchuraEngine.dir/Release/Camera.obj
build/ArchuraEngine.dir/Release/Editor.obj
build/ArchuraEngine.dir/Release/Engine.obj
build/ArchuraEngine.dir/Release/Entity.obj
build/ArchuraEngine.dir/Release/Logger.obj
build/ArchuraEngine.dir/Release/Shader.obj
build/ArchuraEngine.dir/Release/Skybox.obj
build/ArchuraEngine.dir/Release/Weapon.obj
build/ArchuraEngine.dir/Release/Window.obj
build/ArchuraEngine.dir/Release/Texture.obj
build/bin/Release/assets/shaders/basic.frag
build/bin/Release/Release/ArchuraEngine.exe
build/ArchuraEngine.dir/Release/Renderer.obj
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/ArchuraEngine.dir/Release/Animation.obj
build/ArchuraEngine.dir/Release/Component.obj
build/ArchuraEngine.dir/Release/JobSystem.obj
build/ArchuraEngine.dir/Release/PauseMenu.obj
build/ArchuraEngine.dir/Release/DevConsole.obj
build/ArchuraEngine.dir/Release/ImGuiLayer.obj
build/ArchuraEngine.dir/Release/Projectile.obj
build/ArchuraEngine.dir/Release/Application.obj
build/ArchuraEngine.dir/Release/AudioSystem.obj
build/ArchuraEngine.dir/Release/HUDRenderer.obj
build/ArchuraEngine.dir/Release/RenderSystem.obj
build/ArchuraEngine.dir/Release/ScriptSystem.obj
build/ArchuraEngine.dir/Release/FPSController.obj
build/ArchuraEngine.dir/Release/PhysicsSystem.obj
build/ArchuraEngine.dir/Release/PoolAllocator.obj
build/ArchuraEngine.dir/Release/ArchuraEngine.iobj
build/ArchuraEngine.dir/Release/ConsoleCommand.obj
build/ArchuraEngine.dir/Release/NetworkManager.obj
build/ArchuraEngine.dir/Release/ParticleSystem.obj
build/ArchuraEngine.dir/Release/StackAllocator.obj
build/ArchuraEngine.dir/Release/CommandRegistry.obj
build/ArchuraEngine.dir/Release/ResourceManager.obj
build/ArchuraEngine.dir/Release/ConsoleInterface.obj
build/ArchuraEngine.dir/Release/DeveloperConsole.obj
build/ArchuraEngine.dir/Release/ProjectileSystem.obj
build/ArchuraEngine.dir/Release/ProjectSerializer.obj
build/ArchuraEngine.dir/Release/FPSConsoleCommands.obj
build/ArchuraEngine.dir/Release/ArchuraEngine.exe.recipe
build/glad.dir/Release/glad.tlog/CustomBuild.read.1.tlog
build/ufbx.dir/Release/ufbx.tlog/CustomBuild.read.1.tlog
build/imgui.dir/Release/imgui.tlog/CustomBuild.read.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/Cl.items.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/CL.read.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/CL.write.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/link.read.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/CL.command.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/link.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/link.command.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/link.secondary.1.tlog
build/ArchuraEngine.dir/Release/ArchuraEngine.tlog/CustomBuild.read.1.tlog
build/ALL_BUILD.vcxproj
build/ArchuraEngine.dir/Release/Animation.obj
build/ArchuraEngine.dir/Release/Application.obj
build/ArchuraEngine.dir/Release/ArchuraEngine.exe.recipe
build/ArchuraEngine.dir/Release/ArchuraEngine.iobj
build/ArchuraEngine.dir/Release/AudioSystem.obj
build/ArchuraEngine.dir/Release/Camera.obj
build/ArchuraEngine.dir/Release/CommandRegistry.obj
build/ArchuraEngine.dir/Release/Component.obj
build/ArchuraEngine.dir/Release/ConsoleCommand.obj
build/ArchuraEngine.dir/Release/ConsoleInterface.obj
build/ArchuraEngine.dir/Release/DevConsole.obj
build/ArchuraEngine.dir/Release/DeveloperConsole.obj
build/ArchuraEngine.dir/Release/Editor.obj
build/ArchuraEngine.dir/Release/Engine.obj
build/ArchuraEngine.dir/Release/Entity.obj
build/ArchuraEngine.dir/Release/FPSConsoleCommands.obj
build/ArchuraEngine.dir/Release/FPSController.obj
build/ArchuraEngine.dir/Release/HUDRenderer.obj
build/ArchuraEngine.dir/Release/ImGuiLayer.obj
build/ArchuraEngine.dir/Release/Input.obj
build/ArchuraEngine.dir/Release/JobSystem.obj
build/ArchuraEngine.dir/Release/Logger.obj
build/ArchuraEngine.dir/Release/main.obj
build/ArchuraEngine.dir/Release/Mesh.obj
build/ArchuraEngine.dir/Release/NetworkManager.obj
build/ArchuraEngine.dir/Release/ParticleSystem.obj
build/ArchuraEngine.dir/Release/PauseMenu.obj
build/ArchuraEngine.dir/Release/PhysicsSystem.obj
build/ArchuraEngine.dir/Release/PoolAllocator.obj
build/ArchuraEngine.dir/Release/Projectile.obj
build/ArchuraEngine.dir/Release/ProjectileSystem.obj
build/ArchuraEngine.dir/Release/ProjectSerializer.obj
build/ArchuraEngine.dir/Release/Renderer.obj
build/ArchuraEngine.dir/Release/RenderSystem.obj
build/ArchuraEngine.dir/Release/ResourceManager.obj
build/ArchuraEngine.dir/Release/Shader.obj
build/ArchuraEngine.dir/Release/Skybox.obj
build/ArchuraEngine.dir/Release/StackAllocator.obj
build/ArchuraEngine.dir/Release/Texture.obj
build/ArchuraEngine.dir/Release/Weapon.obj
build/ArchuraEngine.dir/Release/Window.obj
build/ArchuraEngine.sln
build/ArchuraEngine.vcxproj
build/ArchuraEngine.vcxproj.filters
build/bin/Release/ArchuraEngine.exe
build/bin/Release/Release/ArchuraEngine.exe
build/bin/Release/Release/crash_log.txt
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/TargetDirectories.txt
build/glad.vcxproj
build/imgui.vcxproj
build/ufbx.vcxproj
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/ZERO_CHECK.vcxproj
build/ALL_BUILD.vcxproj
build/ArchuraEngine.dir/Release/Animation.obj
build/ArchuraEngine.dir/Release/Application.obj
build/ArchuraEngine.dir/Release/ArchuraEngine.exe.recipe
build/ArchuraEngine.dir/Release/ArchuraEngine.iobj
build/ArchuraEngine.dir/Release/AudioSystem.obj
build/ArchuraEngine.dir/Release/Camera.obj
build/ArchuraEngine.dir/Release/CommandRegistry.obj
build/ArchuraEngine.dir/Release/Component.obj
build/ArchuraEngine.dir/Release/ConsoleCommand.obj
build/ArchuraEngine.dir/Release/ConsoleInterface.obj
build/ArchuraEngine.dir/Release/DevConsole.obj
build/ArchuraEngine.dir/Release/DeveloperConsole.obj
build/ArchuraEngine.dir/Release/Editor.obj
build/ArchuraEngine.dir/Release/Engine.obj
build/ArchuraEngine.dir/Release/Entity.obj
build/ArchuraEngine.dir/Release/FPSConsoleCommands.obj
build/ArchuraEngine.dir/Release/FPSController.obj
build/ArchuraEngine.dir/Release/HUDRenderer.obj
build/ArchuraEngine.dir/Release/ImGuiLayer.obj
build/ArchuraEngine.dir/Release/Input.obj
build/ArchuraEngine.dir/Release/JobSystem.obj
build/ArchuraEngine.dir/Release/Logger.obj
build/ArchuraEngine.dir/Release/main.obj
build/ArchuraEngine.dir/Release/Mesh.obj
build/ArchuraEngine.dir/Release/NetworkManager.obj
build/ArchuraEngine.dir/Release/ParticleSystem.obj
build/ArchuraEngine.dir/Release/PauseMenu.obj
build/ArchuraEngine.dir/Release/PhysicsSystem.obj
build/ArchuraEngine.dir/Release/PoolAllocator.obj
build/ArchuraEngine.dir/Release/Projectile.obj
build/ArchuraEngine.dir/Release/ProjectileSystem.obj
build/ArchuraEngine.dir/Release/ProjectSerializer.obj
build/ArchuraEngine.dir/Release/Renderer.obj
build/ArchuraEngine.dir/Release/RenderSystem.obj
build/ArchuraEngine.dir/Release/ResourceManager.obj
build/ArchuraEngine.dir/Release/Shader.obj
build/ArchuraEngine.dir/Release/Skybox.obj
build/ArchuraEngine.dir/Release/StackAllocator.obj
build/ArchuraEngine.dir/Release/Texture.obj
build/ArchuraEngine.dir/Release/Weapon.obj
build/ArchuraEngine.dir/Release/Window.obj
build/ArchuraEngine.sln
build/ArchuraEngine.vcxproj
build/ArchuraEngine.vcxproj.filters
build/bin/Release/ArchuraEngine.exe
build/bin/Release/Release/ArchuraEngine.exe
build/bin/Release/Release/crash_log.txt
build/CMakeCache.txt
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/TargetDirectories.txt
build/glad.vcxproj
build/imgui.vcxproj
build/ufbx.vcxproj
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/ZERO_CHECK.vcxproj
